Repository pangeo-forge/pangeo-forge-recipes, pull requests merged in 2023-04, with the labels that each got.

#509 Remove unused modules, functions, & tests
  pangeo_forge_recipes/executors/__init__.py
  pangeo_forge_recipes/executors/base.py
  pangeo_forge_recipes/executors/beam.py
  pangeo_forge_recipes/executors/python.py
  pangeo_forge_recipes/recipes/__init__.py
  pangeo_forge_recipes/recipes/base.py
  pangeo_forge_recipes/recipes/reference_hdf_zarr.py
  pangeo_forge_recipes/reference.py
  pangeo_forge_recipes/utils.py
  setup.cfg
  tests/recipe_tests/test_HDFReferenceRecipe.py
  tests/recipe_tests/test_XarrayZarrRecipe.py
  tests/recipe_tests/test_graph_memory.py
  tests/test_locking.py
  tests/test_pipelines.py
  tests/test_utils.py
Labels: beam refactor

#500 Update opendap tutorial
  docs/pangeo_forge_recipes/tutorials/xarray_zarr/opendap_subset_recipe.ipynb
  pangeo_forge_recipes/openers.py
Labels: documentation, beam refactor, release blocker

#486 beam-refactor reference recipe
  .github/workflows/test-integration.yaml
  .readthedocs.yml
  ci/py3.10.yml
  ci/py3.9.yml
  docs/pangeo_forge_recipes/recipe_user_guide/recipes.md
  docs/pangeo_forge_recipes/tutorials/grib_reference/reference_HRRR.ipynb
  docs/pangeo_forge_recipes/tutorials/hdf_reference/reference_cmip6.ipynb
  docs/pangeo_forge_recipes/tutorials/index.md
  pangeo_forge_recipes/combiners.py
  pangeo_forge_recipes/openers.py
  pangeo_forge_recipes/transforms.py
  pangeo_forge_recipes/writers.py
  setup.cfg
  tests-integration/test_hrrr_kerchunk_concat_step.py
  tests-integration/test_hrrr_kerchunk_concat_valid_time.py
  tests/conftest.py
  tests/data/CMC_reg_DEPR_ISBL_10_ps10km_2022072000_P000.grib2
  tests/test_combiners.py
  tests/test_end_to_end.py
  tests/test_openers.py
  tests/test_transforms.py
Labels: beam refactor, release blocker, test-integration
